

body{
  background:#FFFFFF;
  font-family: 'Playfair Display', sans-serif; 
}

.cover-card {
  border: 2px solid white;
  background: silver;
  padding: 0px;
  margin: 0px;
  height:300px;
}
.cover-card > p {
  text-align: center;
  background-color: rgba(6,6,6,0.0);
  color: rgba(6,6,6,0.0);
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  
  
}
.cover-card:hover > p {
  background-color: rgba(6,6,6,0.3);
  color: white;
  text-shadow: 3px 3px 10px #000;
  transform: scale(0.9);
  transition: all 1s ease-in;
  filter:  drop-shadow(8px 8px 10px #7BF174);
 
}

.cover-card:hover{
  transform: scale(1);
  transition: all 1s ease-in;
  /*filter:  drop-shadow(8px 8px 10px #7BF174);*/
}