
/*-----------------Dana---------------------------------*/
main p{

	font-size: 3.3em;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #E1F5F2;
}

main .textSlider{
    background: rgba(255, 255, 255, 0.2);
}

/*--------------------mariana-------------------------------*/
