
/**********************PRINCIPAL*****************************/
main section{
	margin-bottom: 4em;
}

main section>div img{
	background: #D0E5C6;
	padding: 0.2em;
}

main article>div>div>a{
	background-color: #D0E5C6;
	color: #000000;	
}

main .textSlider{
    background: rgba(208, 229, 198, 0.7);
   /* padding-top: 0em;*/
    color: #100808;
   font-family: 'Saira Extra Condensed',serif;
}
/*******************FIN PRINCIPAL***************************/